.invoice-logo img {
    max-width: 200px;
    max-height: 115px;
    padding-top: 1em;
}

.invoice-title h5 {
    color: #00796B;
    font-weight: 600;
    font-size: 25px;
    margin-top: 1em;
}

.tin-box h6 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 0;
}

.tin-box p {
    margin: 0;
}

@media(min-width: 768px) {
    .invoice-title {
        text-align: right;
    }
    .invoice-logo img {
        padding-top: 3em;
    }
}